[flake8]
# See http://flake8.pycqa.org/en/latest/user/options.html for a list of options
ignore = E501, W503
exclude =
    .git,
    __pycache__,
    # ignore django generated code
    members/migrations
count = True
statistics = True
tee = True
