[flake8]
# See http://flake8.pycqa.org/en/latest/user/options.html for a list of options
ignore = E501
exclude =
    .git,
    __pycache__,
    virtualenv,
    venv,
    # ignore migrations as it is django generated code
    members/migrations
count = True
statistics = True
tee = True