*.pyc
__pycache__
dart-sass*
.sass-cache/
.env
/db.sqlite3*
staticfiles
*~
.idea/
experiments.py
*_old
/backup-*
.DS_Store
.vs/
notes.txt
gamle_db/
test-results
.coverage
*compiled_less.css
members/static/members/css
