services:
  web:
    build: .
    command: "${SERVER_COMMAND} 0.0.0.0:${PORT}"
    volumes:
      - .:/app
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - database
      - selenium
    networks:
      - webnet
    environment:
      - SECRET_KEY=$SECRET_KEY
      - DEBUG=$DEBUG
      - BASE_URL=$BASE_URL
      - QUICKPAY_API_KEY=$QUICKPAY_API_KEY
      - QUICKPAY_PRIVATE_KEY=$QUICKPAY_PRIVATE_KEY
      - DATABASE_URL=$DATABASE_URL
      - ALLOWED_HOSTS=$ALLOWED_HOSTS
      - PAYMENT_ID_PREFIX=$PAYMENT_ID_PREFIX
      - CORS_LIST=$CORS_LIST
      - FORCE_HTTPS=$FORCE_HTTPS
      - EMAIL_URL=$EMAIL_URL
      - ADMINS=$ADMINS
      - SENTRY_DSN=$SENTRY_DSN
      - MODE=$MODE
      - USE_SQLITE=False

  database:
    image: postgres:15.2-alpine
    networks:
      - webnet
    volumes:
      - database:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
    ports:
      - "5432${DB_PORT}"

  pgadmin:
    image: dpage/pgadmin4
    networks:
      - webnet
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - ${PWD}/pgadmin4/servers.json:/pgadmin4/servers.json

  selenium:
    image: selenium/standalone-chrome
    networks:
      - webnet
    ports:
      - "4444:4444"

volumes:
  database:

networks:
  webnet:
