Django==1.9.1
django-bootstrap3==6.2.2
django-bootstrap4==0.0.8
django-extensions==1.6.1
django-crispy-forms==1.5.2
django-fontawesome
sqlparse==0.1.18
django-cron==0.4.6
git+https://github.com/QuickPay/quickpay-python-client.git@357969005ae06636c10bf068b405c87f5f705e7a#egg=quickpay-api-client
pytz==2015.7
django-flat-responsive
freezegun

# useful non-production packages (install manually)
#django-debug-toolbar
#pylint
