Django==1.8.3
django-bootstrap3==6.2.0
django-extensions==1.5.5
django-crispy-forms==1.4.0
sqlparse
django-cron==0.4.3
git+https://github.com/QuickPay/quickpay-python-client.git@79e52fc

# useful non-production packages
#django-debug-toolbar
#pylint
