@import url('https://fonts.googleapis.com/css?family=Pirata+One');

.bg-primary {
    background-color: #25A2CE !important; 
}

.nav-link {
    font-size: 20px;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.main {
    padding-top: 75px;
    padding-bottom: 20px;
}