@import url('https://fonts.googleapis.com/css?family=Pirata+One');
@import url('https://fonts.googleapis.com/css?family=Gill+Sans');

.bg-primary {
    background-color: #25A2CE !important;
}

.bg-accent {
    background-color: #EFB422 !important;
}

.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.main {
    padding-top: 75px;
    padding-bottom: 20px;
}

footer {
    padding: 15px 30px;
}
