.btn-accent {
	color: white;
	background-color: #EFB422;
}

.btn-accent:hover {
	color: white;
	background-color: #ED9224;
}

.btn-primary {
	color: white;
	background-color: #25A2CE;
}

.btn-primary:hover {
	color: white;
	background-color: #2C8098;
}