.inline-group .tabular .showheader td.original p {
    display: table-cell;
    font-size: 0.8rem;
}

.inline-group .tabular .hideheader  td.original,
.inline-group .tabular .hideheader  th.original
{
    display:none;

}

.inline-group .tabule .hideheader td{
    padding:0px;
    margin:0px;
}

.inline-group .tabular .hideheader tr.has_original td {
    padding-top:0px;
    
}

/* Make Django admin autocomplete fields wider */
.admin-autocomplete {
    min-width: 400px !important;
    width: 400px !important;
    max-width: 100%;
}

