.navbar {
    border-bottom: 5px #B1B9BA solid;
    display:block;
    height:50px;
}
.navbar-nav {
    float:right;
}
.navbar-brand {
    float:left;
}
 .navbar-nav>li {
    list-style: none;
    display:list-item;
    padding:10px;
    font-size:150%;
}