@media only screen and (max-device-width: 600px) {

    body {
        margin: 0 1vw;
    }

    th, td {
        font-size: 1.5vh;
        border-left: 0.2vw dashed;
    }
        th:nth-child(1), td:nth-child(1) {
            border-left: none;
        }

    .sectionTitle {
        font-size: 4.4vh;
    }

    .sectionDescription, .sectionDescriptionSmall {
        font-size: 2.8vh;
    }

    .inputField, .inputField > div > label {
        font-size: 2.2vh;
    }

    blockquote {
        border-left-width: 3vw;
    }

        .inputField > div > .controls > *, .inputFieldSpecial, .submitButton, .button {
            font-size: 2.5vh;
            padding: 0.2em 0.4em;
            height: 2.4em;
        }

    .button {
        margin: 1em 2em;
        font-size: 3.4vh;
    }

    .modal-dialog {
        width: 90vw;
        margin: 5vw 5vw;
    }

    .fields > legend {
        font-size: 4vh;
    }

    .ui-menu-item {
        font-size: 3vh;
    }

    .checkbox {
        margin: 1em 0 1.5em 0;
    }

        .checkbox > label {
            padding-left: 2em;
        }

            .checkbox > label > input {
                height: 1.5em;
                width: 1.5em;
                margin-left: -2em !important;
            }

    .btn {
        border-radius: 0.4em;
    }

    .lastField {
        margin-bottom: 1em;
    }

    .pcOnly {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1400px) {

    .sectionTitle {
        font-size: 4.4vh;
    }

    .sectionDescription {
        font-size: 2.5vh !important;
    }

    .sectionDescriptionSmall {
        font-size: 1.5vh;
    }

    .inputField, .inputField > div > label {
        font-size: 2.3vh;
    }

        .inputField > div > .controls > *, .inputFieldSpecial, .submitButton, .button {
            font-size: 2.5vh;
            padding: 0.2em 0.4em;
            height: 2.4em;
        }

    .fields > legend {
        font-size: 3vh;
    }

    .mobileOnly {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {

    .sectionTitle {
        font-size: 4vh;
    }

    .sectionDescription {
        font-size: 2vh;
    }

    .sectionDescriptionSmall {
        font-size: 1.5vh;
    }

    .inputField, .inputField > div > label {
        font-size: 1.4vh;
    }

        .inputField > div > .controls > *, .inputFieldSpecial, .submitButton, .button {
            /*font-size: 1.5vh;*/
            padding: 0.2em 0.4em;
            height: 2.4em;
        }

    .fields > legend {
        font-size: 3vh;
    }

    .mobileOnly {
        display: none;
    }

    .page {
        background-color: white;
    }
}



.menu {
    background-color: rgb(243, 243, 243);
    padding: 0;
}
    .menu > .menuLogoContainer {
        filter: brightness(0%);
        height: 100%;
        position: absolute;
    }
        .menu > .menuLogoContainer > .menuLogo {
            background-image: url("/static/members/images/codingPiratesLogo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(0%);
            height: 100%;
            position: absolute;
        }
    .menu > div > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
        .menu > div > ul > li {
            float: left;
            padding: 0.75em 1em;
            cursor: pointer;
            background-color: rgb(243, 243, 243);
            font-size: 4vh;
        }
            .menu > div > ul > li:hover:not(.menuLogo) {
                background-color: rgb(0, 191, 243);
            }

.Ntooltip {
    position: relative;
    display: inline;
}

    .Ntooltip .Ntooltiptext {
        visibility: hidden;
        text-align: center;
        border-radius: 6px;
        padding: 0.5em;
        background-color: rgb(198, 198, 198);

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .Ntooltip:hover .Ntooltiptext {
        visibility: visible;
        white-space: nowrap;
    }

.page {
    padding-top: 2vh;
    margin-bottom: 15vh;
}

.footer {
    background-color: #293339;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 11vh;
    width: 100%;
    overflow: hidden;
}
    .footer > div {
        margin: 3vh 5vw;
    }
    .footer > div > p > img {
        height: 3vh;
        filter: invert(100%);
    }
    .footer > div > p {
        text-align: center;
        color: white;
        font-size: 1.5vh;
        max-height: 3vh;
    }

.whiteDown {
    position: fixed;
    display: block;
    background-color: white;
    height: 100%;
}

.button {
    background-color: #1abc9d;
    color: white;
    border: solid black
}

.button {
    padding: 0.5em 0.5em;
    font-size: 2.2vh;
    text-decoration: none !important;
}

.dumButtonContainer {
    margin-top: 2em;
}