{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{{mass_confirmation_form.media}}
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' 'members' %}">Members</a>
&rsaquo; <a href="">Personer</a>
</div>
{% endblock %}

{% block content_title %}<h1>Slet person(er) fra venteliste</h1>{% endblock %}

{% block content %}
<div id="content-main">
  <form action="" method="post">
    <div>
      <fieldset class="module aligned">
        <h2>Vælg aktivitet</h2>
        <div class="description">
          <p>Gennemgå listen og vælg den korrekte aktivitet der skal fjernes personer fra.</p>
        </div>

        {% csrf_token %}
        <input type="hidden" name="action" value="delete_many_from_department_waitinglist_action">
        <input type="hidden" name="select_across" value="0">
        <input type="hidden" name="index" value="0">
        {% for obj in queryset %}
          <input type="hidden" name="_selected_action" value="{{ obj.pk }}" />
        {% endfor %}
        {% for field in mass_confirmation_form %}
          <div class="form-row field-{{field.name}}">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}

        <h2>Email template</h2>
        <div class="description">
          <p>Alle personer fjernes og der sendes en email udfra følgende mail template:</p><br>
          <b>ID: </b>
          <text readonly><pre>{{ emailtemplate.idname }}</pre></text><br>
          <b>Subject: </b>
          <text readonly><pre>{{ emailtemplate.subject }}</pre></text><br>
          <b>HTML: </b>
          <text readonly><pre>{{ emailtemplate.body_html }}</pre></text>
          <b>Text: </b>
          <text readonly><pre>{{ emailtemplate.body_text }}</pre></text>
        </div>

        <h2>Bekræft deltagere</h2>
        <div class="description">
          <p>Følgende ({{persons.count}}) personer fjernes fra venteliste:</p>
          <p>
            <ul>
              {% for item in persons %}
              <li>{{item.person.name}} ({{item.person.email}})</li>
              {% endfor %}
            </ul>
          </p>
          <p> følgende afdelinger er valgt:</p>
          <p>
            <ul>
              {% for item in departments %}
              <li>{{item}}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
        <br>
        <div class="submit-row">
          <p class="deletelink-box"><a href="../" class="deletelink">Fortryd</a></p>
          <input class="default" name="" type="submit" value="Fjern fra venteliste og send email for alle valgte personer/familier">
        </div>
      </fieldset>
    </div>
  </form>

</div>

{% endblock %}
