{% comment %} filepath: templates/admin/input_filter.html {% endcomment %}
{% load i18n %}
<div class="text-filter">
    <form method="get">
        {% for key, value in request.GET.items %}
            {% if key != parameter_name %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}
        <input type="date" name="{{ parameter_name }}" value="{{ spec.value }}">
        <button type="submit">{% trans "Apply" %}</button>
    </form>
</div>