{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{{mass_invitation_form.media}}
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' 'members' %}">Members</a>
&rsaquo; <a href="">Personer</a>
</div>
{% endblock %}

{% block content_title %}<h1>Inviter flere personer, til en aktivitet</h1>{% endblock %}

{% block content %}
<div id="content-main">
  <form action="" method="post">
    <div>
      <fieldset class="module aligned">
        <h2>Vælg aktivitet</h2>
        <div class="description">
          <p>Gennemgå listen og vælg den korrekte afdeling og aktivitet der skal inviteres til.</p>
          <p>Vælg desuden en udløbsdato for invitationen.</p>
          <p>Skriv noget ekstra tekst</p>
          <p>Når du trykker på <kbd style="background-color:green; color: white;">&nbsp;INVITER&nbsp;</kbd>-knappen vil systemet invitere personer, der ikke allerede deltager/er inviteret til aktiviteten samt er indenfor aldersgrænsen når aktiviteten starter. Det endeligt antal inviterede kan derfor afvige fra antallet i listen herunder.</p>
          <p>Der sendes en email med en beskrivelse af aktiviteten samt et link til tilmelding!</p>
          <p>Hvis du angiver en særpris <b>skal du også angive en note om særprisen</b>. Noten er kun synlig i admin.</p>
          <p>Prisen kan ikke være under de fastsatte minimumsgrænser beskrevet under aktiviteter.</p>
        </div>

        {% csrf_token %}
        <input type="hidden" name="action" value="invite_many_to_activity_action">
        <input type="hidden" name="select_across" value="0">
        <input type="hidden" name="index" value="0">
        {% for obj in queryset %}
          <input type="hidden" name="_selected_action" value="{{ obj.pk }}" />
        {% endfor %}
        {% for field in mass_invitation_form %}
          <div class="form-row field-{{field.name}}">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}

        <h2>Email template</h2>
        <div class="description">
          <p>Alle personer inviteres og der sendes en email udfra følgende mail template:</p><br>
          <b>ID: </b>
          <text readonly><pre>{{ emailtemplate.idname }}</pre></text><br>
          <b>Subject: </b>
          <text readonly><pre>{{ emailtemplate.subject }}</pre></text><br>
          <b>HTML: </b>
          <text readonly><pre>{{ emailtemplate.body_html }}</pre></text>
          <b>Text: </b>
          <text readonly><pre>{{ emailtemplate.body_text }}</pre></text>
        </div>

        <h2>Bekræft deltagere</h2>
        <div class="description">
          <p>Følgende ({{persons.count}}) personer inviteres:</p>
          <p>
            <ul>
              {% for person in persons %}
              <li>{{person.name}}</li>
              {% endfor %}
            </ul>
          </p>
        </div>

        <div class="submit-row">
          <p class="deletelink-box"><a href="#" id="abort" class="deletelink">Fortryd</a></p>
          <p><input class="default" style="background-color:green; float: right;" type="submit" value="Inviter"></p>
        </div>
      </fieldset>
    </div>
  </form>

</div>

<script type="text/javascript">
    document.getElementById("abort").addEventListener("click", () => {
        history.back();
    });
</script>

{% endblock %}
