$primary-color: #25a2ce;
$primary-color-muted: #2c8098;
$accent-color: #efb422;
$accent-color-muted: #ed9224;
$danger-color: #dc3545;
$danger-color-muted: #a01525;
$success-color: #28a745;
$success-color-muted: #288745;
$max_width: 1300px;
$main_font: "Lato", sans-serif;
$header_font: "Bungee", cursive;

@mixin for-phone {
    @media only screen and (max-width: 667px) {
        @content;
    }
}
@mixin for-desktop {
    @media (min-width: 668px) {
        @content;
    }
}

%card {
    border: 1px solid #dee2e6;
}

%bg-primary {
    background-color: $primary-color;
    color: white;
}

%bg-accent {
    background-color: $accent-color !important;
}

%container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

%rounded-rect {
    border-radius: 0.25rem;
}
