@use "base";

body {
    display: grid;
    align-content: space-between;
    @media (min-width: base.$phone_width) {
        grid-template-rows: 1fr 10fr 1fr
    }
    // Desktop horizontal nav bar
    @media (min-width: base.$phone_width) {
        grid-template-rows: 50px 10fr 1fr
    }

}

html,
body {
    height: 100%;
    font-family: base.$main_font;
}
