@use "definitions";
@use "buttons";

body {
    display: grid;
    align-content: space-between;
    @include definitions.for-phone {
        grid-template-rows: 1fr 12fr 1fr;
    }
    // Desktop horizontal nav bar
    @include definitions.for-desktop {
        grid-template-rows: 50px 10fr 1fr;
    }
}

body,
html {
    height: 100%;
    font-family: definitions.$main_font;
    width: 100%;
}

section {
    @extend %rounded-rect;
    margin: 15px 0;
}

.info-box {
    @extend %rounded-rect;
    background-color: definitions.$light-grey;
    padding: 10px;
    margin: 10px auto;
    width: 66%;
    text-align: center;
}

.action-list {
    text-align: center;
    list-style-type: none;
    li {
        display: inline-block;
        a {
            @extend .button;
        }
    }
}

main {
    @extend %container;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: definitions.$max_width;
    @include definitions.for-desktop {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

a {
    text-decoration: none;
}
