@use "base";

body {
    display: grid;
    align-content: space-between;
    @include base.for-phone {
        grid-template-rows: 1fr 12fr 1fr
    }
    // Desktop horizontal nav bar
    @include base.for-desktop {
        grid-template-rows: 50px 10fr 1fr
    }

}

html,
body {
    height: 100%;
    font-family: base.$main_font;
}
