@use "definitions";

.button {
    border-radius: 0.25rem;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    background-color: definitions.$accent-color;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: white;
    margin: 10px;
    text-decoration: none;
    &:hover {
        background-color: definitions.$accent-color-muted;
        color: white;
    }
}

.button-accent {
    @extend .button;
    @extend %bg-accent;
    &:hover {
        background-color: definitions.$accent-color-muted;
    }
}

.block-button {
    // TODO rework this once login form has changed
    @extend .button;
    display: block !important;
    width: 100% !important;
    margin: 15px auto !important;
}

.button-primary-color {
    @extend .button;
    background-color: definitions.$primary-color;
    &:hover {
        background-color: definitions.$primary-color-muted !important;
        color: black;
    }
}

.button-danger {
    @extend .button;
    background-color: definitions.$danger-color;
    border-color: definitions.$danger-color;
    color: white;
    display: block;
    &:hover {
        background-color: definitions.$danger-color-muted !important;
        border-color: definitions.$danger-color-muted;
    }
}

.button-success {
    @extend .button;
    background-color: definitions.$success-color;
    border-color: definitions.$success-color;
    color: white;
    display: block;
    &:hover {
        background-color: definitions.$success-color-muted;
        border-color: definitions.$success-color-muted;
    }
}
