@use "definitions";

#department-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > div {
        @include definitions.for-desktop {
            width: 30%;
        }
        @include definitions.for-phone {
            width: 90%;
            font-size: 1.3em;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}

.department-map-box {
    font-size: 1.3em;
    > ul {
        list-style-type: none;
    }
}
