@use "_definitions";
@use "buttons";

#user-action-container {
    margin: 20px auto;
    max-width: 700px;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    @include _definitions.for-desktop {
        > div {
            width: 300px;
        }
    }
    @include _definitions.for-phone {
        > div {
            width: 100%;
        }
    }
    > div {
        @extend %bg-primary;
        @extend %rounded-rect;
        margin: 15px 0;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-evenly;
        > i {
            padding: 0 10px;
        }
        > div {
            flex-grow: 2;
            text-align: center;
            > a {
                @extend .button;
                font-weight: 800;
            }
        }
    }
}

#signup-form {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.25rem;
    background-clip: border-box;
    border-radius: 0.25rem;
}
