@use "_definitions";

.info-box {
    @extend %rounded-rect;
    background-color: _definitions.$light-grey;
    padding: 10px;
    margin: 10px auto;
    width: 66%;
    text-align: center;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    > div {
        padding: 0 10px;

        > :nth-child(1n + 2) {
            padding-left: 20px;
        }
    }
    @include _definitions.for-desktop {
        > div {
            width: 50%;
        }
    }
    @include _definitions.for-phone {
        > div {
            width: 100%;
        }
    }
}
