@use "base_layout";
@use "buttons";
@use "cards";
@use "entry_page";
@use "family_details";
@use "footer";
@use "header";
@use "login";
@use "style";
@use "table";
@use "tab";
@use "department_list";
@use "font_awesome";
@import url("https://fonts.googleapis.com/css?family=Bungee|Lato|Pirata+One&display=swap");