@use "base";


.notification {
    @include base.for-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    @include base.for-phone {
        > div:first-child {
            margin-bottom: 0.5em;
        }

        > div > .btn {
            width: 100%;
        }
    }
}