@use "_definitions";

.tabs {
    > ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        border: 1px solid #eee;
        @include _definitions.for-phone {
            flex-wrap: wrap;
        }
        li {
            width: 100%;
            @extend %rounded-rect;
            cursor: pointer;
            background-color: #eee;
            display: inline-block;
            text-align: center;
            padding: 20px 0;
            font-size: 1.5em;
            &.tab-active {
                @extend %bg-accent;
                box-shadow: 0 0 5px black inset;
                text-decoration: underline;
            }
        }
    }
    > section {
        display: none;
        &.tab-section-active {
            display: block;
        }
    }
}
