@use "definitions";

table {
    width: 100%;
    border-collapse: collapse;
    @extend %card;
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: definitions.$light-grey;
    }
    thead > tr > th {
        @extend %bg-primary;
        padding: 10px;
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
        color: white;
    }
    td {
        padding: 10px;
    }
    @include definitions.for-phone {
        td,
        tr {
            display: block;
        }
        thead {
            display: none;
        }

        tr {
            border: 1px solid #eee;
        }

        tr + tr {
            margin-top: 1.5em;
        }

        td {
            /* make like a "row" */
            border-bottom: 1px solid #aaa;
            background-color: #eee;
            text-align: left;
        }
        td:before {
            content: attr(data-label) ":";
            margin-right: 5px;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}
