@use "_definitions";

#union_info {
    @extend %container;
    margin-bottom: 40px;
    > div {
        > h4 {
            display: flex;
            justify-content: center;
        }
        > div {
            border: 1px solid #dee2e6 !important;
            font-size: 1.2em;
            display: flex;
            justify-content: space-around;
            > div {
                ul {
                    list-style-type: none;
                    margin: 10px 0;
                }
            }
        }
    }
}

#union_documents {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
    a {
        @extend %button !optional;
    }
}

#member_table {
    border: 1px solid #dee2e6 !important;
}
