{% extends "members/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
      <h1>{{activity.name}}<br /><small>Coding Pirates {{activity.department.name}}</small></h1>      
      
      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aktiviteten</h5>
          <p class="card-text">Aktiviteten afholdes af Coding Pirates {{activity.department.name}}</p>

          <div class="row">
            <span class="col-xs-12 col-sm-12 col-md-6"><i class="fa fa-calendar"></i> Periode: {{ activity.start_date|date:"j. F" }} - {{ activity.end_date|date:"j. F" }}</span>
            <span class="col-xs-12 col-sm-12 col-md-6"><i class="fa fa-clock-o"></i> Tidspunkt: {{ activity.open_hours }}</span>
            <span class="col-xs-12 col-sm-12 col-md-6"><i class="fa fa-money"></i> Pris: {{ price | floatformat:2 }}</span>
            <span class="col-xs-12 col-sm-12 col-md-6"><i class="fa fa-users"></i> {{ seats_left }} af {{ activity.max_participants }} pladser ledige.</span>
            <span class="col-xs-12 col-sm-12 col-md-6"><i class="fa fa-hourglass-end"></i> {{ activity.signup_closing }} (om {{ activity.signup_closing|timeuntil }})</span>
            <span class="col-xs-12 col-sm-12 col-md-6"><i class="fa fa-list"></i> Venteliste:
              {% if activity.open_invite %}
                Åben invitation uden venteliste
              {% else %}
                Kræver invitation igennem ventelisten
              {%endif%}</span>
          </div>
          <br />

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <p class="card-text">
                <b>Adresse</b><br />
                  {{activity.streetname}} {{activity.housenumber}}{%if activity.floor or activity.door%}, {%endif%}
                  {%if activity.floor %}{{activity.floor}}.{%endif%}
                  {%if activity.door%}{{activity.door}}{%endif%}
              </p>
              <p class="card-text">Lokalforening: Coding Pirates {{ union.name }}</p>
            </div>
            

            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="card">
                <div class="card-header">
                  Kontakt aktivitetsansvarlig
                </div>
                <div class="card-body">
                  <p>Har du spørgsmål vedrørende aktiviteten?</p>
                  <p>
                    <b>{{ activity.responsible_name }}</b> <br/>
                    E-mail: {{ activity.responsible_contact }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Beskrivelse</h5>
          <p class="card-text">
            {{ activity.description|linebreaksbr }}
          </p>
        </div>
      </div>

      <br />

      {% if not view_only_mode %}
        <hr />
        {% crispy signupform %}
      {% else %}
        {% if participating %}
          <hr />

          <div class="card">
            <div class="card-header">
              <h2 class="card-title">{{person.name}} er tilmeldt dette arrangement</h2>
            </div>
          </div>
        {% endif %}

        {% if signup_closed and not participating %}
          <hr>
            <div class="alert alert-warning">
              Arrangementet er desværre udsolgt! Det er derfor ikke længere muligt at tilmelde sig.
            </div>
        {% endif %}

        {% if participatingPersons %}
          {% for participatingPerson in participatingPersons %}
            <div class="alert alert-primary">
              {{participatingPersons.name}} er allerede tilmeldt
            </div>
          {% endfor %}
        {% endif %}

        {% if family %}
          {% if applicablePersons %}
            {% for applicablePerson in applicablePersons %}
              <a class="btn btn-success"  href="{%url 'activity_signup' activity.id applicablePerson.id %}">Tilmeld {{ applicablePerson.name }}</a>
            {% endfor %}
            <br /><br />
          {% endif %}

          <a class="btn btn-primary" href="{% url 'family_detail' %}">Tilbage</a>
        {% endif %}

      {% endif %}
    </div>
{% endblock %}
