{% extends "members/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
          <h1>{{activity.department.name}} <small>{{activity.name}}</small></h1>
          <p>
            {{ activity.description|linebreaksbr }}
          </p>
      <div class="row">
        <div class="col-lg-6">
          <strong>Sted:</strong><br>
            <address>
              {{activity.streetname}} {{activity.housenumber}}{%if activity.floor or activity.door%}, {%endif%}
              {%if activity.floor %}{{activity.floor}}.{%endif%}
              {%if activity.door%}{{activity.door}}{%endif%}
              <br>
              {%if activity.placename%}{{activity.placename}}<br>{%endif%}
              {{activity.zipcode}} {{activity.city}}<br>
              {{activity.placenave}}<br>
            </address>
        </div>
        <div class="col-lg-6">
          <p>
          <strong>Tidspunkt:</strong><br>
          {{ activity.open_hours}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>
          <strong>Ansvarlig:</strong><br>
          {{ activity.responsible_name}}<br>
          <a href="mailto:{{activity.responsible_contact}}">{{activity.responsible_contact}}</a>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
          <strong>Pris:</strong><br>
          {{ price | floatformat:2}} kr<br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>
          <strong>Tilmeldingsfrist:</strong><br>
            {{ activity.signup_closing}} (om {{ activity.signup_closing|timeuntil}})
          </p>
        </div>
        <div class="col-lg-6">
          <p>
          <strong>Periode:</strong><br>
            {{ activity.start_date|date:"j. F"}} - {{ activity.end_date|date:"j. F"}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>
          <strong>Pladser:</strong><br>
            {{ seats_left }} af {{ activity.max_participants}} pladser ledige.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
          <strong>Venteliste:</strong><br>
            {% if activity.open_invite %}
              Nej. Åben invitation uden venteliste
            {% else %}
              Ja. Kræver invitation igennem ventelisten
            {%endif%}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>
            <strong>Lokalforening:</strong><br>
            {{ union.name }}
          </p>
        </div>
      </div>
      {% if not view_only_mode %}
      <hr>
      {% crispy signupform %}

      {% else %}
        {% if participating %}

          <hr/>

          <div class="card">
            <div class="card-header">
              <h2 class="card-title">{{person.name}} er tilmeldt dette arrangement</h2>
            </div>
          </div>
        {% endif %}
        {% if signup_closed and not participating %}
          <hr>
            <div class="alert alert-primary">
              <p>Arrangementet er desværre udsolgt! Det er ikke længere muligt at tilmelde sig.</p>
            </div>
        {% endif %}
        {% if family %}
          <a class="btn btn-primary" href="{% url 'family_detail' %}">Tilbage</a>
        {% endif %}
      {% endif %}
    </div>
{% endblock %}
