{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="jumbotron">
      <h1>Til afdelingskaptajnen</h1>
      <p>Vi lagde mærke til at du ikke har en profil i systemet som frivillig.</p>
      <p>Derfor beder vi dig udfylde dette skema, så kan vi lave en profil til dig.</p>
    </div>
    <form method="post" class="form" id="signup-page">
        {% csrf_token %}
        <h3>Kaptajnens oplysninger</h3>
        <section id="volunteerform">
        <ul>
        {{volunteerform.as_ul}}
        </ul>
        </section>
        <h3>Adresse oplysninger</h3>
        <section id="addressform">
        <ul>
        {{addressform.as_ul}}
        </ul>
        </section>
        <input type="submit"  class="button" value="Opret">
    </form>
</div>
{% endblock %}
