<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block footer %}
        <div class="container-fluid" style="padding-top: 20px">
            <div class="row">
                <div class="col-md-12">
                    <small><p>Coding Pirates Denmark - Seebladsgade 1, 5000 Odense C, E-mail:<a href="mailto:kontakt@codingpirates.dk">kontakt@codingpirates.dk</a> - <abbr title="Telefon">Tlf</abbr>: +45 27202175 - CVR: 35552316</p></small>
                </div>
            </div>
        </div>
    {% endblock %}
  </body>
</html>
