<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Coding Pirates Medlemssystem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Bungee|Lato|Pirata+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "members/css/main.css" %}" />
    <script src="{% static "members/js/table.js" %}"></script>
    <script src="{% static "members/js/tab.js" %}"></script>
    <script src="{% static "members/js/better-dom.min.js" %}"></script>
    <script src="{% static "members/js/better-dateinput-polyfill.min.js" %}"></script>
    <script src="{% static "members/js/tablesearch.js" %}"></script>
    {% if request.path == "/" or request.path == "/volunteer" or "/family/Person/" or "/admin_signup/" in request.path %}
        {% load crispy_forms_tags %}
        <script src="{% static "members/js/dawa-autocomplete.js" %}"></script>
        <script src="{% static "members/js/dawa-form-fill.js" %}"></script>
    {% endif %}
</head>

<body>
    {% if not skip_context %} {% include "members/header.html" %} {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if not skip_context %}
    <footer>
        <p>Coding Pirates Denmark - C/O Coworking Plus, Kochsgade 31D, 5000 Odense C,
        E-mail: <a href="mailto:kontakt@codingpirates.dk">kontakt@codingpirates.dk</a>
        <abbr title="Telefon">Tlf</abbr>: +45 27 83 65 25,
        CVR: 35 55 23 16</p>
    </footer>
    {% endif %}
</body>
</html>
