{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>
  Afslå invitation
</h1>
<section>
  <h3>Hej {{activity_invite.person.name}}</h3>
  {% if is_participating %}
    <p>
      Du deltager allerede i <strong>{{activity_invite.activity.name}}, {{activity_invite.activity.department.name}}</strong>.
      Derfor kan du ikke afvise denne invitation.
    </p>
    <a class="button" href="{% url 'activities' %}">Tilbage</a>
  {% else %}
    <p>
      Hvis du trykker <kbd>Afslå invitation</kbd> nedenfor, giver du din plads på
      <strong>
        {{activity_invite.activity.name}}, {{activity_invite.activity.department.name}}
      </strong>
      videre til den næste på ventelisten.
    </p>
    <p>
      Du bliver også automatisk afmeldt ventelisten på
      {{activity_invite.activity.department.name}}, men du kan altid tilmelde dig
      den igen <em>uden at du har mistet din position</em>.
      Så vil du modtage invitationer når vi inviterer flere med.
    </p>
    {% crispy form %}
  {% endif %}  
</section>
{% endblock %}
