{% extends 'members/base.html' %}

{% block heading %}
{% load staticfiles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

<script type="text/javascript">
    var departments = {{ departments_json | safe }}
    var markers = [];
    var activeMarkerIndex = 0;
    var activeIcon = L.icon({
        iconUrl: '{% static "members/icons/activeIcon.png" %}',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowUrl: 'https://unpkg.com/leaflet@1.2.0/dist/images/marker-shadow.png',
        shadowSize: [41, 41],
    });
    var defaultIcon = L.icon({
        iconUrl: "{% static "members/icons/marker-icon.png" %}",
        shadowUrl: "{% static "members/icons/marker-shadow.png" %}",
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        tooltipAnchor: [16, -28],
        shadowSize: [41, 41]
    });



    // Når der trykkes på en afdeling, og der skal vises mere
    function show(e) {
        // Find den afdeling der skal vises, udfra latlng
        var department = departments.filter(department => department.latitude == parseFloat(e["latlng"]["lat"]) && department.longitude == parseFloat(e["latlng"]["lng"]))[0]
        markers[activeMarkerIndex].setIcon(defaultIcon);
        activeMarkerIndex = departments.indexOf(department);
        e.target.setIcon(activeIcon);

        infoElement = document.querySelector("#infoElement")

        if(infoElement.querySelector("span#know_more").style.display != "none") {
            infoElement.querySelector("span#know_more").style.display = "none";
            infoElement.querySelector("span#infoContainer").style.display = "block";
        }

        infoElement.querySelector("#name").innerText = department["name"];
        infoElement.querySelector("#responsible_name").innerText = department["responsible_name"];
        infoElement.querySelector("#responsible_contact").innerText = department["responsible_contact"];
        infoElement.querySelector("#open_hours").innerText = department["open_hours"];
        infoElement.querySelector("#adress").innerText = department["streetname"] + " " + department["housenumber"] + ", " + department["zipcode"] + " " + department["city"];
        infoElement.querySelector("#description").innerText = department["description"];
        infoElement.querySelector("#website").innerText = department["website"];
        infoElement.querySelector("#website").href = department["website"];
    }

    $(document).ready(function () {
        var southEast = L.latLng(54.91711327768886, 8.76734733581543);
        var northEast = L.latLng(58.038693522227945, 14.979954628418003);
        var kort = L.map('kort').fitBounds([southEast, northEast]);
        L.tileLayer('https://api.mapbox.com/styles/v1/codingpirates/cjdaaa7yt3qts2rrwzpsx5ysw/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY29kaW5ncGlyYXRlcyIsImEiOiJjamRhN3JtZHgxamphMzNvMHpraTJra2J1In0.lVqzzzCf9gHneicqDONuaw', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            accessToken: 'pk.eyJ1IjoiY29kaW5ncGlyYXRlcyIsImEiOiJjamRhOXM1ZGIwdm04MnlvMnQ5dDBsdWpkIn0.NMaydnMG6m8OBpJhUbNgzg'
        }).addTo(kort);

        $('.searchAbleDropdowns').select2();

        for (var i = 0; i < departments.length; i++) {
            var row = departments[i];
            if (!row["onMap"]) { continue };
            markers.push(L.marker([row["latitude"], row["longitude"]]).addTo(kort).on('click', show));
        }
    });


    var departmentIds = [{% for row in departments %}{ "name": "{{row.name}}", "id": {{ row.id }} }, {% endfor %} { }]

    function waiting_listAdd(personId, departmentId) {
        var url = "/waiting_list/" + personId + "/" + departmentId + "/subscribe"

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                var table = document.getElementById("person_table_" + personId);
                // Test for om <i>Endnu ikke på nogen ventelister</i> skal fjernes
                if(table.querySelector("tbody>tr>td.none_yet") != null) { //.getAttribute("colspan")
                table.getElementsByTagName("tbody")[0].removeChild(table.getElementsByTagName("tbody")[0].getElementsByTagName("tr")[0]);
                }

                var department = departmentIds.filter(department => department.id == departmentId)[0]

                // Fjern fra udvalget
                document.getElementById("person_select_" + personId).removeChild(document.getElementById("person_select_" + personId).querySelector("option[value='" + departmentId + "']"));

                var ref = table.querySelector("tbody").insertRow();
                ref.insertCell().innerHTML = department["name"];
                ref.insertCell().innerHTML = "<a href=\"javascript:window.location.href=window.location.href\">Reload page</a>";
                ref.insertCell().innerHTML = "<button class=\"btn btn-danger\" onclick=\"waiting_listRemove('" + personId + "', '" + departmentId + "', this)\">Afmeld</button>";
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    function waiting_listRemove(personId, departmentId, caller) {
        var url = "/waiting_list/" + personId + "/" + departmentId + "/unsubscribe";

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                caller.parentNode.parentNode.remove();

                var department = departmentIds.filter(department => department.id == departmentId)[0]
                // Tilføj igen til udvalget
                console.log(department)
                document.getElementById("person_select_" + personId).innerHTML += "<option value=\"" + departmentId + "\">Coding Pirates " + department["name"] + "</option>"
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }
</script>
<style>
    :root {
        --secondSize: 400px;
    }

    #wrapper {
        /* width: 100vw;
    max-width: 100%; */
        overflow: hidden;
        /* will contain if #first is longer than #second */
    }

    #wrapper>* {
        height: 60vh;
    }

    .first {
        width: calc(100vw - var(--secondSize));
        float: left;
        /* add this */
    }

    .second {
        overflow: hidden;
        /* if you don't want #second to wrap below #first */
        padding: 1rem;
    }

    .departmentTable>tbody>tr>td:first-child {
        font-weight: bold;
        padding-right: 1.4rem;
    }
    .departmentTable>tbody>tr>td {
        vertical-align: top;
    }

    #infoElement {
        overflow: auto;
    }
</style>
{% endblock %}

{% block content %}
{% load waiting_list %}
<div class="container">
    <h1>Afdelinger</h1>
</div>
<div id="wrapper">
    <div id="kort" class="first"></div>
    <div class="second" id="infoElement" style="background-color: #2C8098; color: white">
        <span id="know_more">Vælg en afdeling på kortet for at se mere</span>
        <span id="infoContainer" style="display: none;">
            <h4 id="name"></h4>
            <table class="departmentTable">
                <tbody>
                    <tr><td>Afdelingsleder: </td><td id="responsible_name"></td></tr>
                    <tr><td>Kontakt: </td><td id="responsible_contact"></td></tr>
                    <tr><td>Møde tid: </td><td id="open_hours"></td></tr>
                    <tr><td>Adresse: </td><td id="adress"></td></tr>
                </tbody>
            </table>
            <p></p>
            <p id="description"></p>
            <a id="website" style="color: white;" href=""></a>
        </span>
    </div>
</div>

<div class="container">
    <p></p>
    {% for person in children %}
    <h4>{{person.name}}</h4>
    <table class="table table-striped" id="person_table_{{ person.id }}">
        <thead>
            <tr>
                <th>Afdeling</th>
                <th>Plads</th>
                <th>Handlinger</th>
            </tr>
        </thead>
        <tbody>
            {% if person in in_waiting_list %}
            {% for waiting_listsROW in waiting_lists %}
            <tr>
                {% if waiting_listsROW.person %}
                <td>{{ waiting_listsROW.department.name }}</td>
                <td>{% number_on_waiting_list waiting_listsROW %}. i køen</td>
                <td><button class="btn btn-danger"
                        onclick="waiting_listRemove('{{ person.id }}', '{{ waiting_listsROW.department.id }}', this)">Afmeld</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="none_yet" colspan="3"><i>Endnu ikke på nogen ventelister</i></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <i>Opskriv på venteliste</i>
    <p>
        <select id="person_select_{{ person.id }}" class="searchAbleDropdowns">
            {% for department in departments %}
                {% already_on_waitinglist person department as already_on_waitinglist_var %}
                {% if not already_on_waitinglist_var %}
            <option value="{{ row.id }}">Coding Pirates {{ department.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="btn btn-success"
            onclick="waiting_listAdd('{{ person.id }}', this.parentNode.children[0].value )">Opskriv</button>
    </p>
    {% endfor %}
</div>

{% endblock %}