{% extends 'members/base.html' %}
{% block content %}
  <h2>Opskrivninger i Coding Pirates</h2>
  <p>
    De fleste afdelinger starter nye hold to gange om året. Som regel i februar og
    september.<br>
    Du kan skrive dit barn op til en eller flere afdelinger her. Næste
    gang afdelingen åbner op for nye tilmeldinger vil I modtage en mail med en
    invitation.<br>
    Under menupunktet <b>Aktiviteter</b> kan I se afdelinger der har åbent
    for tilmeldinger allerede nu og se invitationer sendt til jer.
    <a class="button" href="{% url "activities" %}">Gå til Aktiviteter</a>
  </p>

  <h2>Vigtig information om Ventelister</h2>
    <div class="readmore-container">
      <input class="readmore-input" id="ch" type="checkbox">
      <label class="readmore-label" for="ch"></label>
      <div class="readmore-text">
        Dit barns plads på ventelisten bliver beregnet ud fra, hvornår barnet er 
        oprettet i systemet.<br>
        Det er altså barnets anciennitet, der bestemmer pladsen på ventelisten til samtlige afdelinger, barnet er skrevet op på.<br>
        Jo højere anciennitet, des bedre plads på ventelisten(erne).<br>
        Bemærk at jeres position på ventelisten afgøres ud fra barnets 
        oprettelsestidspunkt i systemet - ikke tidspunktet I melder jer
        på ventelisterne nedenfor!<br>
        I kan derfor frit tilmelde og framelde jer ventelisterne uden at miste
        en position på listen.<br>
        Når en afdeling sender invitationer ud <u>kan</u> afdelingen vælge at prioritere
        <ul>
          <li>børn længere nede på listen for at få den bedst mulige fordeling af
            børn på holdet.</li>
          <li>børn fra nærområdet / kommunen</li>
          <li>frivilliges børn</li>
          <li>eller efter andre kriterier, der efter afdelingens vurdering er den
            måde de ønsker at gøre det på. </li>
        </ul>
        <u>Hvordan bliver man fjernet fra venteliste(r)</u><br>
        Der er forskellige måder hvorpå man bliver fjernet fra en venteliste.<br>
        Husk: man kan altid melde sig til igen med samme anciennitet som før.
        <ul>
          <li>Når man modtager en invitation til en aktivitet i en afdeling, så bliver man samtidig fjernet fra venteliste til den afdeling</li>
          <li>Når man acceptere en invitation til en aktivitet bliver man fjernet fra alle ventelister</li>
          <li>Man kan selv fjerne sig fra en venteliste under hovedmenu Aktiviteter, klik derefter på "Tilmeldte Aktiviteter", og så på røde "Afmeld" knap (husk at checke at det er den rigtige afdeling og det rigtige barn</li>
          <li>Der kan ske en oprydning af personer på venteliste(r), og der kommer så en email med information om at man er fjernet</li>
        </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="tabs">
    <ul>
      <li>Alle ventelister</li>
      <li>Tilmeldte ventelister</li>
      <li>Kort over afdelinger</li>
    </ul>
    <section id="alle-ventelister">
      {% regroup departments by address.region as departments_region %}
      <h2>Opskrivning på venteliste</h2>
      <p>
        Opskriv jer kun de afdelinger, der har interesse for jer. Det er en god
        ide at kigge forbi hyppigt op til sæsonstart, da vi tilføjer nye
        afdelinger efterhånden som vi får bekræftet de åbner og børnene får kun
        tilbud om at komme med på de afdelinger de har skrevet sig op til. Se
        jeres nuværende ventelistestatus under "<em>Se Pladser</em>"
      </p>
      <input 
        type="text" 
        id="input-search-text"
        onkeyup="filter_rows_in_table(
          'input-search-text', 
          'region-data',
          'department-tbody'
          )" 
        placeholder="Søg efter..."
      >
      <div class="tabs" id="region-tabs">
        <ul>
          {% for region in departments_region %}
            <li>{{ region.grouper }}</li>
          {% endfor %}
        </ul>
        {% for region in departments_region %}
          <section class="region-data" >
            <table class="department-table">
              <thead>
                <tr>
                  <th>Afdeling</th>
                  <th>Kontaktperson</th>
                  <th>Adresse</th>
                  <th>Åbningstid</th>
                  <th>Opskriv på venteliste</th>
                </tr>
              </thead>
              <tbody class="department-tbody">
              {% for department in region.list %}
                <tr>
                  <td>
                    {% if department.website != "" %}
                      <a href="{{ department.website }}" target="_blank">
                        {{ department }}
                      </a>
                    {% else %}
                      {{ department }}
                    {% endif %}
                  </td>
                  <td>
                    {{ department.responsible_name }} <br>
                    <a href="mailto:{{ department.object.department_email }}">
                      {{ department.department_email }}
                    </a>
                  </td>
                  <td>{{ department.address }}</td>
                  <td>{{ department.open_hours }}</td>
                  <td>
                    {% for child in children %}
                      <div>
                        {% if department in child.departments_is_waiting %}
                          {{ child.person.firstname }} er opskrevet
                        {% else %}
                          <a
                              class="button"
                              href="{% url 'waiting_list_subscription' child.person.id department.id 'subscribe' %}"
                          >
                            Opskriv: {{ child.person.firstname }}
                          </a>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </section>
        {% endfor %}
      </div>
    </section>
    <section id="tilmeldte-ventelister">
      {% for child in children %}
        <section>
          <h4>Venteliste oversigt for <em>{{ child.person.name }}</em></h4>
          <table>
            <thead>
            <tr>
              <th>Afdeling</th>
              <th>Plads på venteliste</th>
              <th>Afmeld</th>
            </tr>
            </thead>
            <tbody>
            {% for department, waitinglist_place in child.waitinglists %}
              <tr>
                <td>
                  {% if department.website %}
                    <a href="{{ department.website }}">{{ department }}</a>
                  {% else %}
                    {{ department }}
                  {% endif %}
                </td>
                <td>{{ waitinglist_place }}</td>
                <td>
                  <a
                      class="button-danger"
                      href="{% url 'waiting_list_subscription' child.person.id department.id 'unsubscribe' %}"
                  >
                    Afmeld {{ child.person.firstname }}
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </section>
        <br>
        {% endfor %}
    </section>
    <section id="kort-over-afdelinger">
      <iframe 
        loading="lazy"
        src="/departments"
        width="100%" height="1080" 
        frameborder="0" 
        style="border:0" 
      >
      </iframe>
    </section>

  </div>

{% endblock %}
