{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h1>Familiedetaljer</h1>
<h3>Din familie er registreret på denne email adresse: {{family.email}} <a class="btn btn-primary btn-lg active" role="button"  href="#">Ret</a></h3>
<fieldset><legend>Personer i familien</legend>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th/>
      <th align="left">Navn</th>
      <th align="left">Adresse</th>
      <th align="left">Postnr./by</th>
      <th align="left">Email</th>
      <th align="left">Telefon</th>
      <th align="left">Venteliste</th>
      </tr>
  </thead>
  <tbody>
    {% for person in family.person_set.all %}
      <tr>
        <td>{{person.get_membertype_display}}</td>
        <td><a href="{% url 'person_update' family.unique person.id %}">{{person.name}}</a></td>
        <td>{{person.street}}</td>
        <td>{{person.zipcity}}</td>
        <td>{{person.email}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.on_waiting_list}}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
    </tr>
  </tfoot>
</table>
<a class="btn btn-primary btn-lg active" role="button" href="{% url 'person_add' family.unique %}">Opret ny</a>
</fieldset>
<fieldset><legend>Invitationer</legend>
  {% if invites %}
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th class="col-sm-3" align="left">Navn</th>
          <th align="left">Aktivitet</th>
          <th class="col-sm-3 text-center" colspan="2">Reaktion</th>
        </tr>
      </thead>
      <tbody>
        {% for invite in invites %}
          <tr>
            <td>{{invite.person.name}}</td>
            <td>{{invite.activity.name}}</td>
            <td><a class="btn btn-primary" href="{% url 'invite_accept' invite.unique %}">Acceptér</a></td>
            <td><a class="btn btn-default" href="{% url 'invite_decline' invite.unique %}">Afslå</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <div class="col-sm-12">Der er ingen aktuelle invitationer.
      </div>
      <br/>
      <br/>
  {% endif %}
</fieldset>
{% if currents %}
  <fieldset><legend>Aktiviteter</legend>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th class="col-sm-3" align="left">Navn</th>
          <th>Aktivitet</th>
          <th class="col-sm-2">Start</th>
          <th class="col-sm-2">Slut</th>
        </tr>
      </thead>
      <tbody>
        {% for activity in currents %}
          <tr>
            <td>{{activity.member.person.name}}</td>
            <td>{{activity.activity.name}}</td>
            <td>{{activity.activity.start_date}}</td>
            <td>{{activity.activity.end_date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
{% endif %}
