<h1>Familiedetaljer</h1>
<h3>Alt info fra Coding Pirates bliver sendt til denne mail: {{family.email}} <a href="#">Ret</a></h3>
<fieldset><legend>Personer i familien</legend>
<table>
  <thead>
    <tr>
      <th/>
      <th align="left">Navn</th>
      <th align="left">Adresse</th>
      <th align="left">Postnr./by</th>
      <th align="left">Email</th>
      <th align="left">Telefon</th>
      <th align="left">Venteliste</th>
      </tr>
  </thead>
  <tbody>
    {% for person in family.person_set.all %}
      <tr>
        <td>{{person.get_membertype_display}}</td>
        <td><a href="{% url 'person_update' family.unique person.id %}">{{person.name}}</a></td>
        <td>{{person.street}}</td>
        <td>{{person.zipcity}}</td>
        <td>{{person.email}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.on_waiting_list}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'person_add' family.unique %}">Opret ny</a>
</fieldset>
