{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="newloginnotice">
                <p>Kære bruger</p>

                <p>Vi har ændret måden, du logger ind i medlemssystemet.
                    Fremover skal du logge ind med din email og adgangskode.
                    Det gør du under punktet "Login" i toppen af siden.
                    Er det første gang, du benytter det nye loginsystem,
                    skal du generere en adgangskode ved at trykke på knappen "Login" i toppen
                    og derefter trykke på knappen "Opret adgangskode".
                    Hvis du har spørgsmål kan du skrive en e-mail til
                    <a href="mailto:kontakt@codingpirates.dk" title="kontakt@codingpirates.dk">kontakt@codingpirates.dk</a>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Tilmelding til Coding Pirates</h1>
                <p>Indtast barnets og forældrenes informationer, for at tilmelde en Coding Pirates-workshop, eller for at komme med på ventelisten.</p>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% crispy signupform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
