
<!DOCTYPE html>
<html>
  <head>
 	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container-fluid">
      <h1>Familiedetaljer</h1>
      <h3>Din familie er registreret på denne email adresse: {{family.email}}</h3>
      <div class="row">
        <div class="col-xs-12">
          <section class="panel panel-defualt">
            {% if family.person_set.count > 0 %}
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th class="col-xs-1"/>
                  <th class="col-xs-3" align="left">Navn</th>
                  <th class="col-xs-3" align="left">Adresse</th>
                  <th class="col-xs-2" align="left">Postnr./by</th>
                  <th class="col-xs-2" align="left">Email</th>
                  <th class="col-xs-1" align="left">Telefon</th>
                </tr>
              </thead>
              <tbody>
                {% for person in family.person_set.all %}
                  <tr>
                    <td>{{person.get_membertype_display}}</td>
                    <td><a href="{% url 'person_update' family.unique person.id %}">{{person.name}}</a></td>
                    <td>{{person.streetname}} {{person.housenumber}} {{person.floor}} {{person.door}}</td>
                    <td>{{person.zipcode}} {{person.city}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.phone}}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                </tr>
              </tfoot>
            </table>
            {% endif %}
            <a class="btn btn-primary btn-lg active" role="button" href="{% url 'person_add' family.unique 'CH' %}">Opret barn</a>
            <a class="btn btn-default btn-lg active" role="button" href="{% url 'person_add' family.unique 'PA' %}">Opret forælder</a>
            <a class="btn btn-default btn-lg active" role="button" href="{% url 'person_add' family.unique 'GU' %}">Opret værge</a>
            <br/>
            <br/>
            {%if request_parents %}
            <blockquote class="bg-warning">
              <p>Opret mindst 2 forældre / værger med kontaktoplysninger, så vi i Coding Pirates kan få fat i jer.</p>
            </blockquote>
            {%endif%}
            {% if need_confirmation %}
            <blockquote class="bg-danger">
            <p> Det er længe siden du sidste bekræftede dine oplysninger. <a class="btn btn-success" href="{% url 'confirm_details' family.unique %}">Bekræft</a>
            </blockquote>
            {%endif%}
          </section>
        </div>
      </div>

      <h2>Ventelister</h2>
      <div class="row">
        <div class="col-xs-12">
          <section class="panel panel-defualt">
            {% if department_children_waiting %}
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th class="col-xs-2" align="left">Navn</th>
                    <th class="col-xs-3" align="left">Adresse</th>
                    <th class="col-xs-2" align="left">Åbningstid</th>
                    <th class="col-xs-5" align="right">Tilmeld / Afmeld</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, department in department_children_waiting.departments.items %}
                    <tr>
                      <td>{{department.object.name}}</td>
                      <td>{{department.object.address}}, {{department.object.zipcode}} {{department.object.city}}</td>
                      <td>{{department.object.open_hours}}</td>
                      <td>
                      {%for key, child in department.children_status.items %}
                        {%if child.waiting %}
                          <a class="btn btn-danger" href="{% url 'waiting_list_subscription' child.object.family.unique child.object.id department.object.id 'unsubscribe' %}">Afmeld: {{child.firstname}}</a>
                        {%else%}
                          <a class="btn btn-success" href="{% url 'waiting_list_subscription' child.object.family.unique child.object.id department.object.id 'subscribe' %}">Opskriv: {{child.firstname}}</a>
                        {%endif%}
                      {%endfor%}
                      </td>
                      <td></td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
            {% else %}
                <div class="col-xs-12">Der er ingen aktuelle ventelister.
                </div>
            {% endif %}
          </section>
        </div>
      </div>

      <h2>Invitationer / Åbne aktiviteter</h2>
      <div class="row">
        <div class="col-xs-12">
          <section class="panel panel-defualt">
            {% if invites or waiting_lists or open_activities%}
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th class="col-xs-3" align="left">Navn</th>
                    <th class="col-xs-6" align="left">Aktivitet</th>
                    <th class="col-xs-3 text-left" colspan="2">Reaktion</th>
                  </tr>
                </thead>
                <tbody>

                  {% for child in children %}
                  {% for activity in open_activities %}
                    <tr>
                      <td>{{child.name}}</td>
                      <td>{{activity.department.name}}, {{activity.name}}</td>
                      <td><a class="btn btn-success" href="http://">Tilmeld aktivitet</a></td>
                      <td></td>
                    </tr>
                  {% endfor %}

                  {% for department in waiting_lists %}
                    <tr>
                      <td>{{child.name}}</td>
                      <td>{{department.name}}, venteliste</td>
                      <td><a class="btn btn-success" href="{% url 'waiting_list_accept' family.unique child.id department.id %}">Tilføj på venteliste</a></td>
                      <td></td>
                    </tr>
                  {% endfor %}
                  {% endfor %}

                  {% for invite in invites %}
                    <tr>
                      <td>{{invite.person.name}}</td>
                      <td>{{invite.activity.department.name}}, <a href="{% url 'invite_detail' invite.unique %}">{{invite.activity.name}}</a></td>
                      <td><a class="btn btn-success" href="{% url 'invite_accept' invite.unique %}">Acceptér</a></td>
                      <td><a class="btn btn-danger" href="{% url 'invite_decline' invite.unique %}">Afslå</a></td>
                    </tr>
                  {% endfor %}

                  </tbody>
              </table>
            {% else %}
                <div class="col-xs-12">Der er ingen aktuelle invitationer.
                </div>
            {% endif %}
          </section>
        </div>
      </div>
      {% if participating or waiting %}
      <h2>Aktiviteter</h2>
      <div class="row">
        <div class="col-xs-12">
          <section class="panel panel-default">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th class="col-sm-3" align="left">Navn</th>
                  <th>Aktivitet</th>
                  <th class="col-sm-2">Start</th>
                  <th class="col-sm-2">Slut</th>
                </tr>
              </thead>
              <tbody>
                {% for activity in participating %}
                  <tr>
                    <td>{{activity.member.person.name}}</td>
                    <td>{{activity.activity.name}}</td>
                    <td>{{activity.activity.start_date}}</td>
                    <td>{{activity.activity.end_date}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
