<!DOCTYPE html>
<html>
  <head>
 	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="{% static 'members/js/layout.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/pure-min.css' %}" />
    <script src="{% static 'members/datatables/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'members/datatables/datatables.min.css' %}" />
  </head>
  <body>
      <div>
          <div class="menu col-sm-12 col-xs-12">
              <div class="menuLogo col-sm-2 col-xs-2"><div></div></div>
              <div class="col-sm-8 col-xs-8">
                  <ul>
                      <li onclick="switchView('persons', this)">Personer</li>
                      <li onclick="switchView('activities', this)">Aktiviteter</li>
                      <li onclick="switchView('waitinglist', this)">Ventelister</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
              <div class="page" id="persons">

                  <span class="sectionTitle">Familiedetaljer</span>
                  <p class="sectionDescription">Velkommen til Coding Pirates' medlemssystem. Du ser nu oversigten over de oplysninger vi har registreret om jeres familie. Det er vigtigt du sikrer dig at oplysningerne er korrekte.</p>

                  {% if participating or waiting %}
                  <h2>Tilmeldte aktiviteter</h2>
                  <p>Dette er de aktiviteter jeres børn er tilmeldt. I kan klikke på navnet for hvert arrangement, for at se flere detaljer om hvor og hvornår det foregår. I kan også se deltagerlisten for arrangementet.</p>
                  <p>Hvis et arrangement har en rød <kbd>betal</kbd>-knap, er betalingen ikke registreret. Tryk på knappen for at betale.</p>
                  <div class="row">
                      <div class="col-xs-12">
                          <section class="panel panel-default">
                              <table class="table pure-table-striped table-responsive">
                                  <thead>
                                      <tr>
                                          <th class="col-sm-3" align="left">Navn</th>
                                          <th>Aktivitet</th>
                                          <th class="col-sm-2">Start</th>
                                          <th class="col-sm-2">Slut</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for participation in participating %}
                                      <tr>
                                          <td>{{participation.member.person.name}}</td>
                                          <td>
                                              <a href="{%url 'activity_view_person' family.unique participation.activity.id participation.member.person.id %}">{{participation.activity.name}} - {{participation.activity.department.name}}</a>
                                              {% if not participation.paid %}
                                              <a class="btn btn-danger" role="button" href="{{participation.get_payment_link}}">Betal</a>
                                              {%endif%}

                                          </td>
                                          <td>{{participation.activity.start_date}}</td>
                                          <td>{{participation.activity.end_date}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </section>
                      </div>
                  </div>
                  {% endif %}


                  <p class="sectionDescription pcOnly">For yderligere hjælp med at bruge denne side - se på <a href="http://codingpirates.dk/crmhjaelp/">"Sådan bruger du vores medlemssystem"</a> eller skriv til os på <a href="mailto:kontakt@codingpirates.dk">kontakt@codingpirates.dk</a>.</p>
                  <button type="button" class="btn btn-info mobileOnly btn-lg button" data-toggle="modal" data-target="#myModal">Hjælp</button>

                  <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content" style="padding: 1.25vh">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <span class="modal-title sectionTitle">Brug for hjælp?</span>
                              </div>
                              <div class="modal-body">
                                  <p class="sectionDescription">For yderligere hjælp med at bruge denne side - se på <a href="http://codingpirates.dk/crmhjaelp/">"Sådan bruger du vores medlemssystem"</a> eller skriv til os på <a href="mailto:kontakt@codingpirates.dk">kontakt@codingpirates.dk</a>.</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-danger button" style="margin: 0" data-dismiss="modal">Luk</button>
                              </div>
                          </div>

                      </div>
                  </div>

                  <p class="sectionDescription">Din familie er registreret på e-mail-adressen <a class="text-info">{{family.email}}</a>. Det er denne e-mail-adresse vi sender informationer til dig om tilmeding til hold og aktiviteter.</p>
                  <span class="sectionTitle">Personer</span>
                  <p class="sectionDescription">Tryk på hvert navn, for at checke og opdatere oplysningerne på de personer der er på listen.</p>
                  <p class="sectionDescription">Tryk på <kbd>Opret</kbd>-knapperne, for at tilføje flere personer. Opret gerne begge forældre, så vi kan få fat i jer nemt.</p>
                  <div class="row">
                      <div class="col-xs-12">
                          <section class="panel panel-defualt">
                              {% if family.person_set.count > 0 %}
                              <table id="personsTable" class="pure-table pure-table-striped table-responsive">
                                  <thead>
                                      <tr>
                                          <th class="col-xs-1">Opskrevet</th>
                                          <th class="col-xs-2" align="left">Navn</th>
                                          <th class="col-xs-3" align="left">Adresse</th>
                                          <th class="col-xs-2" align="left">Postnr./by</th>
                                          <th class="col-xs-2" align="left">E-mail</th>
                                          <th class="col-xs-1" align="left">Telefon</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for person in ordered_persons %}
                                      <tr>
                                          {%if person.membertype == 'CH' %}
                                          <td>
                                              <span>{{person.added|date:"d M Y"}} </span>

                                              <span class="Ntooltip">
                                                  ➕
                                                  <span class="Ntooltiptext">({{person.added|timesince}} siden)</span>
                                              </span>
                                          </td>
                                          {%else%}
                                          <td></td>
                                          {%endif%}

                                          <td>
                                              <p><a href="{% url 'person_update' family.unique person.id %}">{{person.name}}</a></p>

                                              {%if person.membertype == 'PA' %} <p class="text-muted">(Forælder)</p> {%endif%}
                                              {%if person.membertype == 'GU' %} <p class="text-muted">(Værge)</p> {%endif%}
                                              {%if person.membertype == 'CH' %} <p class="text-muted">(Barn, {{person.age_years}} år)</p> {%endif%}
                                              {%if person.membertype == 'NA' %} <p class="text-muted">(Frivillig)</p> {%endif%}

                                          </td>

                                          <td><p>{{person.address}}</p></td>
                                          <td><p>{{person.zipcode}} {{person.city}}</p></td>
                                          <td><p>{{person.email}}</p></td>
                                          <td><p>{{person.phone}}</p></td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                                  <tfoot>
                                      <tr></tr>
                                  </tfoot>
                              </table>
                              {% endif %}
                              <a class="btn btn-primary btn-sm button" role="button" href="{% url 'person_add' family.unique 'CH' %}">Opret barn</a>
                              <a class="btn btn-primary btn-sm button" role="button" href="{% url 'person_add' family.unique 'PA' %}">Opret forælder</a>
                              <a class="btn btn-primary button" role="button" href="{% url 'person_add' family.unique 'GU' %}">Opret værge</a>
                              <br />
                              <br />
                              {%if request_parents %}
                              <blockquote class="bg-warning">
                                  <p class="sectionDescription">Opret mindst 1 forælder / værge med kontaktoplysninger, så vi i Coding Pirates nemt kan kontakte jer.</p>
                              </blockquote>
                              {%endif%}
                              {% if need_confirmation %}
                              <blockquote class="bg-danger">
                                  <p class="sectionDescription">Det er længe siden du sidst bekræftede dine oplysninger. <a class="btn btn-success" href="{% url 'confirm_details' family.unique %}">Bekræft oplysninger</a>
                              </blockquote>
                              {%endif%}
                          </section>
                      </div>
                  </div>
              </div>


              <div class="page" id="activities" style="display: none">

                  {% if participating or waiting %}
                  <span class="sectionTitle">Tilmeldte aktiviteter</span>
                  <p class="sectionDescription">Dette er de aktiviteter jeres børn er tilmeldt. I kan klikke på navnet for hvert arrangement, for at se flere detaljer om hvor og hvornår det foregår. I kan også se deltagerlisten for arrangementet.</p>
                  <p class="sectionDescription">Hvis et arrangement har en rød <kbd>betal</kbd>-knap, er betalingen ikke registreret. Tryk på knappen for at betale.</p>
                  <div class="row">
                      <div class="col-xs-12">
                          <section class="panel panel-default">
                              <table class="pure-table pure-table-striped table-responsive">
                                  <thead>
                                      <tr>
                                          <th class="col-sm-3" align="left">Navn</th>
                                          <th>Aktivitet</th>
                                          <th class="col-sm-2">Start</th>
                                          <th class="col-sm-2">Slut</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for participation in participating %}
                                      <tr>
                                          <td>{{participation.member.person.name}}</td>
                                          <td>
                                              <a href="{%url 'activity_view_person' family.unique participation.activity.id participation.member.person.id %}">{{participation.activity.name}} - {{participation.activity.department.name}}</a>
                                              {% if not participation.paid %}
                                              <a class="btn btn-danger" role="button" href="{{participation.get_payment_link}}">Betal</a>
                                              {%endif%}

                                          </td>
                                          <td>{{participation.activity.start_date}}</td>
                                          <td>{{participation.activity.end_date}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </section>
                      </div>
                  </div>
                  {% endif %}

                  <span class="sectionTitle">Invitationer / Åbne aktiviteter</span>
                  <p class="sectionDescription">Denne liste indeholder invitationer til aktiviteter, hvor der enten er fri tilmelding (først til mølle) eller invitationer til aktiviteter I har stået på venteliste til. I vil modtage en e-mail på e-mail-adressen {{family.email}} når der er aktiviteter, som I kan tilmelde jer.</p>
                  <div class="row">
                      <div class="col-xs-12">
                          <section class="panel panel-defualt">
                              {% if invites or waiting_lists or open_activities%}
                              <table class="pure-table pure-table-striped table-responsive">
                                  <thead>
                                      <tr>
                                          <th class="col-xs-3" align="left">Navn</th>
                                          <th class="col-xs-6" align="left">Aktivitet</th>
                                          <th class="col-xs-3 text-left" colspan="2">Reaktion</th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                      {% for child in children %}
                                      {% for activity in open_activities %}
                                      <tr>
                                          <td>{{child.name}}</td>
                                          <td><a href="{%url 'activity_signup' family.unique activity.id child.id %}">{{activity.name}} - <h4><b>{{activity.department.name}}</b></h4></a></td>
                                          <td><a class="btn btn-success" href="{%url 'activity_signup' family.unique activity.id child.id %}">Tilmeld aktivitet</a></td>
                                          <td></td>
                                      </tr>
                                      {% endfor %}
                                      {% endfor %}

                                      {% for invite in invites %}
                                      <tr>
                                          <td>{{invite.person.name}}</td>
                                          <td><a href="{%url 'activity_signup' family.unique invite.activity.id invite.person.id %}">{{invite.activity.name}} - <h4><b>{{invite.activity.department.name}}</b></h4></a></td>
                                          <td><a class="btn btn-success" href="{%url 'activity_signup' family.unique invite.activity.id invite.person.id %}">Tilmeld aktivitet</a></td>
                                          <td><a class="btn btn-danger" href="{%url 'invitation_decline' family.unique invite.id %}">Afslå</a></td>
                                      </tr>
                                      {% endfor %}

                                  </tbody>
                              </table>
                              {% else %}
                              <blockquote class="bg-info">
                                  <p class="sectionDescription">Der er endnu ikke åbnet for tilmelding til aktiviteter. Vi sender en e-mail til {{family.email}} når vi er klar til at modtage tilmeldinger.</p>
                              </blockquote>
                              {% endif %}
                          </section>
                      </div>
                  </div>
              </div>

              <div class="page" id="waitinglist" style="display: none">
              <span class="sectionTitle">Ventelister</span>
              <p class="sectionDescription">Tryk på <kbd>Opskriv</kbd>-knapperne for hver afdeling der har interesse for jer. Bemærk at jeres position på ventelisten afgøres ud fra barnets oprettelses tidspunkt i systemet (datoen "Opskrevet" i Personer) - <i> ikke tidspunktet i melder jeg på ventelisterne nedenfor! - </i> I kan derfor frit tilmelde og framelde jer ventelisterne uden at frygte i mister jeres position på listen.</p>
              <p class="sectionDescription">Tryk på <kbd>Afmeld</kbd>-knapperne for at forlade en afdelings ventelisten igen.</p>
              <p class="sectionDescription">Opret jer kun på de lister der har interesse for jer. Det er en god ide at kigge forbi hyppigt op til sæsonstart, da vi tilføjer nye afdelinger efterhånden som vi får bekræftet de åbner og børnene får kun tilbud om at komme med på de afdelinger de har skrevet sig op til.</p>
              <h3><a href="{% url 'family_waitinglist_view' family.unique %}">Se jeres nuværende position på ventelisterne</a></h3>
              <div class="row">
                  <div class="col-xs-12">
                      <section class="panel panel-defualt">
                          {% if department_children_waiting %}
                          <table id="waitingListTable" class="pure-table pure-table-striped table-responsive">
                              <thead>
                                  <tr>
                                      <th class="col-xs-2" align="left">Navn</th>
                                      <th class="col-xs-2" align="left">Adresse</th>
                                      <th class="col-xs-2" align="left">Mødetid</th>
                                      <th class="col-xs-3" align="right">Ikke tilmeldt ventelisten<br />på denne afdeling</th>
                                      <th class="col-xs-3" align="right">Tilmeldt ventelisten<br />på denne afdeling</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for key, department in department_children_waiting.departments.items %}
                                  <tr>
                                      <td>{{department.object.name}}</td>
                                      <td><p>{{department.object.address}}</p> <p>{{department.object.zipcode}} {{department.object.city}}</p></td>
                                      <td>{{department.object.open_hours}}</td>
                                      <td>
                                          {%for key, child in department.children_status.items %}
                                          {%if not child.waiting %}
                                          <a class="btn btn-success" href="{% url 'waiting_list_subscription' child.object.family.unique child.object.id department.object.id 'subscribe' %}">Opskriv: {{child.firstname}}</a>
                                          {%endif%}
                                          {%endfor%}
                                      </td>
                                      <td>
                                          {%for key, child in department.children_status.items %}
                                          {%if child.waiting %}
                                          <a class="btn btn-danger" href="{% url 'waiting_list_subscription' child.object.family.unique child.object.id department.object.id 'unsubscribe' %}">Afmeld: {{child.firstname}}</a>
                                          {%endif%}
                                          {%endfor%}
                                      </td>
                                     
                                  </tr>
                                  {% endfor %}

                                  {%for department in departments_with_no_waiting_list%}
                                  <tr>
                                      <td>{{department.name}}</td>
                                      <td>{{department.address}}, {{department.zipcode}} {{department.city}}</td>
                                      <td>{{department.open_hours}}</td>
                                      <td>
                                          <i>Ingen venteliste, tilmeld blot aktiviteter, når de optræder i aktivitets listen nedenfor.</i>
                                      </td>
                                      <td></td>
                                  </tr>
                                  {%endfor%}
                              </tbody>
                          </table>
                          {% else %}
                          <div class="col-xs-12">
                              Der er ingen aktuelle ventelister.
                          </div>
                          {% endif %}
                      </section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
