{% extends 'members/base.html' %} {% load static %} {% block content %}

{% include 'members/notifications.html' %}

<h1>Familiedetaljer</h1>
<p>
  Din familie er registreret på e-mail adressen <a class="text-info">
  {{family.email}}</a>. Information om tilmeldinger til hold og aktiviteter
  bliver sendt til denne adresse.
</p>
<section>
  <h2>Personer</h2>
  <p>
    Under menupunktet Afdelinger kan du finde afdelinger skrive dit barn op til
    fremtidige klubaftener. Under Afdelinger kan du om der der allerede nu er
    afdelinger i nærheden af dig, der har åbent for tilmeldinger, og det vil
    også være her du kan tilmelde dit barn, hvis I har modtaget en invitation
    på mail.
  </p>
  <ul class="action-list">
    <li>
      <a href="{% url 'person_add' 'CH' %}">
        Opret barn
      </a>
    </li>
    <li>
      <a href="{% url 'person_add' 'PA' %}">
        Opret forælder
      </a>
    </li>
    <li>
      <a href="{% url 'person_add' 'GU' %}">
        Opret værge
      </a>
    </li>
  </ul>

  {% if family.person_set.count > 0 %}
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <th>Adresse</th>
          <th>E-mail</th>
          <th>Telefon</th>
          <th>Handlinger</th>
        </tr>
      </thead>
      <tbody>
        {% for person in ordered_persons %}
        <tr>
          <td data-label="navn">
            {{person.name}}<br>
            <span class="text-muted">
              {%if person.membertype == 'PA' %}
                    Forælder
                {%endif%}
                {%if person.membertype == 'GU' %}
                    Værge
                {%endif%}
                {%if person.membertype == 'CH' %}
                    Barn, {{person.age_years}} år
                {%endif%}
                {%if person.membertype == 'NA' %}
                    Frivillig
                {%endif%}
              </span>
          </td>
          <td data-label="adresse">
            {{person.address}}, {{person.zipcode}} {{person.city}}
          </td>
          <td data-label="email">{{person.email}}</td>
          <td data-label="telefon">{{person.phone}}</td>
          <td data-label="Handling">
            {% if not person.anonymized %}
              <a href="{% url 'person_update' person.id %}" class="button">
                Redigér
              </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}


    {%if request_parents %}
        <div class="info-box">
          Opret mindst 1 forælder / værge med kontaktoplysninger, så vi i Coding
          Pirates nemt kan få fat i jer.
        </div>
    {%endif%}
    {% if need_confirmation %}
        <div class="info-box">
          Det er længe siden du sidst bekræftede dine oplysninger.
          <a class="button-success" href="{% url 'confirm_details' %}">
              Bekræft oplysninger
           </a>
        </div>
    {%endif%}
</section>
{% endblock %}
