<!DOCTYPE html>
<html>
  <head>
 	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container-fluid">
      <h1>Opret familie</h1>
      <div class="row">
        <div class="col-xs-12">
          <section class="panel panel-defualt">
            <header class="panel-heading">
              <h3 class="panel-title">Familiens e-mail adresse</h3>
            </header>
            <form action="{% url 'family_add' %}" method="post">
              {% csrf_token %}
              <fieldset>
                <legend>Indtast den e-mail adresse, hvor du gerne vil have alt information fra Coding Pirates</legend>
                <div>Email:</div>
                <input type="text" name="email" id="email" value="{{ family.email }}" />
                <input class="btn btn-success" type="submit" value="Opret" />
              </fieldset>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
