{% extends 'members/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <h1>Tjek din mail!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p>Hvis vi kunne finde din bruger i vores system har du fået en email. Hvis du oplever problemer kan du skrive til <a href="mailto:kontakt@codingpirates.dk" title="Kontakt Coding Pirates">kontakt@codingpirates.dk</a>.</p>
        </div>
    </div>
{% endblock %}
