{% load static %}
<nav>
    <a id="toggle" class="active" href="#" onClick="toggleNav()">
        <i class="fa fa-bars fa-2x"></i>
    </a>
    <a href="{% url "entry_page" %}">Oversigt</a>
    <a href="{% url "department_signup" %}">Afdelinger</a>
    <a href="{% url "activities" %}">Aktiviteter</a>
    <a href="{% url "membership" %}">Medlemskaber</a>
    <a href="{% url "support_membership" %}">Støttemedlemskaber</a>
    <div class="account-sep"></div>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a href="{% url "admin:index" %}">ADMIN</a>
        {% endif %}
        <a href="{% url "family_detail" %}">Familie</a>
        <a id="login-logout" href="{% url 'person_logout' %}">Log ud</a>
    {% else %}
        <a href="{% url "account_create" %}">Tilmeld barn</a>
        <a href="{% url "volunteer_signup" %}">Bliv frivillig</a>
        <a id="login-logout" href="{% url 'person_login' %}{% if not 'logout' in request.path %}?next={{request.path}}{% endif %}">Log ind</a>
    {% endif %}
    <a href="https://codingpirates.dk" target="_blank">
        <img src="{% static "logo.png" %}"/>
    </a>
</nav>

<script src="{% static "members/js/header.js" %}"></script>
