<!DOCTYPE html>
<html lang="da">
  <head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/styles.css' %}" />
  </head>
  <body>
    <div class="container col-xs-12 col-md-12">
      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <h1>&nbsp;</h1>
          <div class="jumbotron">
            <span style="font-size: 4.2vh"><strong>E-mailen er på vej!</strong></span>
              <div class="sectionDescription">
                  <p class="sectionDescription">I e-mailen finder du et link, der skal bruges til at komme videre. Gem gerne e-mailen, så du nemt kan komme ind på siden igen senere.</pclass="sectionDescription">
                  <p class="sectionDescription"><i>Det kan tage et par minutter, før e-mailen er fremme.</i></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
