{% extends 'members/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "members/css/overview.css" %}" />

<!-- Notifications -->
{% include 'members/notifications.html' %}

<div id="user-action-container">
    <div>
        <i class="fa-users fa fa-4x"></i>
        <div>
            <h4>Jeres familie</h4>
            <a href="{% url 'family_detail' %}">
                Se familie <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div>
        <i class="fa-list-ol fa fa-4x"></i>
        <div>
            <h4>Se plads på ventelister</h4>
            <a href="{% url "waitinglist_view" %}">
                Ventelister <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div>
        <i class="fa-map fa fa-4x"></i>
        <div>
            <h4>Find en afdeling</h4>
            <a href="{% url "family_detail" %}">
                Afdelinger <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div>
        <i class="fa-calendar fa fa-4x"></i>
        <div>
            <h4>Tilmeld arrangementer</h4>
            <a href="{% url "activities" %}">
                Arrangementer <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
