{% extends "members/base.html" %}

{% block content %}
<h2>Der er lige nu problemer med vores udbyder af betalingskortbetalinger!</h2>
<p>
  Der er desværre i øjeblikket et problem med vores vores betalingsudbyder
  (Quickpay.dk) - Vi kan derfor ikke modtage din betaling lige nu.
</p>
<p>
  Der er ikke blevet trukket penge på dit betalingskort og der mangler fortsat
  betaling for din tilmelding.
</p>
<p>
  <em>
    Selve tilmeldingen <b>er gennemført</b> - så du er sikker på at beholde
    pladsen!
  </em>
</p>
<p>
  Men vi beder dig komme tilbage til medlemssiden igen om en uges tid og
  afslutte betalingen ved at betale for deltagelsen.
  (tryk blot på <kbd style="background-color:red">Betal</kbd>-knappen)
</p>
<a class="button" href="{% url 'activities' %}">Tilbage</a>
{% endblock %}
