{% extends 'members/base.html' %}

{% block content %}
<form method="post" class="form" id="signup-page">
    {% csrf_token %}
    {% if person.membertype == "CH" %}
      <h3>Barnets Oplysninger</h3>
    {% elif person.membertype == "PA" %}
      <h3>Forældres Oplysninger</h3>
    {% elif person.membertype == "GU" %}
      <h3>Værgens Oplysninger</h3>
    {% endif %}
    <section id="personform">
    <ul>
    {{form.as_ul}}
    </ul>
    </section>
    <h3>Adresse Oplysninger</h3>
    <section id="addressform_2">
    <ul>
    {{addressform.as_ul}}
    </ul>
    </section>
    <input type="submit"  class="button" value="Opret">
    <a class="btn btn-link" href="{% url 'family_detail' %}"><b>Fortryd</b></a>
</form>
{% endblock %}
