{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="container-fluid">
  <h1>Opret familiemedlem</h1>
  <div class="row">
    <div class="col-xs-12">
      <section class="panel panel-defualt">
        <form action="{% url 'person_add' family.unique membertype %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value="Opret" />
            <a class="btn btn-danger" href="{% url 'family_detail' family.unique %}">Fortryd</a>
        </form>
      </section>
    </div>
  </div>
</div>
