{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Afmeld og refundér</h1>
        <p>Aktiviteten du er ved at afmelde er {{ activity.name }}.</p>
        <p>Vi er selvfølgelig kede af, at I ikke vil gå til Coding Pirates længere, men I kan afmelde {{ person.name }} her.</p>
        <p>Pengene kommer tilbage på det betalingskort der blev brugt til at betale med indenfor et par bankdage.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% crispy activity_cancel_form %}
      </div>
    </div>
  </div>
{% endblock %}