{% extends 'members/base.html' %}

{% block content %}
  <div id="union_info">
      <h1>Foreningen for {{union.name}}</h1>
      <strong>Adresse: </strong>{{union.address}}
      <div>
        <h4>Bestyrelse</h4>
        <div>
          <div>
              <ul>
                <li>
                    <strong>Formand:</strong>
                    <a href="mailto:{{union.chairman.email}}">{{union.chairman.name}}</a>
                </li>
                <li>
                    <strong>Næstformand:</strong>
                    <a href="mailto:{{union.second_chair.email}}">{{union.second_chair.name}}</a>
                </li>
                <li>
                    <strong>Kasserer:</strong>
                    <a href="mailto:{{union.cashier.email}}">{{union.cashier.name}}</a>
                </li>
                <li>
                    <strong>Sekretær:</strong>
                    <a href="mailto:{{union.secratary.email}}">{{union.secretary.name}}</a>
                </li>
                <li>
                    <strong>Foreningsmail:</strong>
                    <a href="mailto:{{union.union_email}}">{{union.union_email}}</a>
                </li>
              </ul>
          </div>
          <div>
            <strong>Menige medlemmer</strong>
            <div>
              {% for boardMember in union.boardMembers %}
                <a href="mailto:{{boardMember.email}}">{{boardMember.name}}</a><br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="union_documents">
        {% if union.statues %}
            <a href="{{union.statues}}"><strong>Vedtægter</strong></a>
        {% endif %}
        {% if union.meeting_notes %}
            <a href="{{union.meeting_notes}}"><strong>Referater</strong></a>
        {% endif %}
    </div>
    {% if access %}
      <div class="tabs">
        <ul>
          {% for year in years %}
            <li>{{year}}</li>
          {% endfor %}
        </ul>
        {% if members.items %}
          {% for year, memberList in members.items %}
            <section>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>Adresse</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in memberList%}
                    <tr>
                      <td>{{member.membertype}}</td>
                      <td>{{member.name}}</td>
                      <td><a href="mailto:{{member.email}}">{{member.email}}</a></td>
                      <td>{{member.address}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </section>
          {% endfor %}
          {% else %}
            <section>
            </section>
          {%endif%}
      </div>
    {% endif %}
{% endblock %}
