{% extends 'members/base.html' %}

{% block content %}
      <h1>&nbsp;</h1>
      <div class="jumbotron">
        <h1>Brugeren er oprettet!</h1>
        <p>Vi har oprettet en bruger til dig. Du logger ind ved hjælp af din e-mail-adresse samt adgangskode.</p>
        <p><i>Adgangskoden er {{ password }}</i></p>
        <p>Hvis du klikker væk fra denne side, kan du kun få koden igen ved nulstilning.</p>
        <a class="btn btn-primary" href="{% url 'person_login' %}">Gå til log ind →</a>
      </div>
{% endblock %}
