{% extends 'members/base.html' %}

{% block content %}
      <h1>&nbsp;</h1>
      <div class="bg-light border p-5 rounded-3">
        <h1>Brugeren er oprettet!</h1>
        <p>Vi har oprettet en bruger til dig. Du logger ind ved hjælp af din e-mail-adresse samt adgangskode.</p>
        <p>Hvis du har glemt din adgangskode kan du få den tilbage med <a href="/account/forgot/">Password nulstilling</a></p>
        <hr />
        {% if next_url %}
        <a class="btn btn-primary" href="{% url 'person_login' %}?next={{next_url}}">Gå til log ind →</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'person_login' %}">Gå til log ind →</a>
        {% endif %}
      </div>
{% endblock %}
