{% extends 'members/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<script src="{% static 'members/js/tablesearch.js' %}"></script>

{% block content %}
    <div class="alert alert-secondary">
      {% if not user.is_authenticated %}
        <h1>Ønsker du at være frivillig - og ikke allerede oprettet i medlemssystemet ?</h1>
        <p>Hvis du har børn der er tilmeldt i systemet og allerede er oprettet som familie, 
           så log blot på jeres familie side med den email du opskrev dig med, da du tilmeldte dig<br>
           Her kan du også tilføje flere personer, hvis det f.eks. er din partner der har tilmeldt børnene men du nu selv vil være med som frivillig.</p>
        <p>
           Denne formular er tænkt til frivillige, der ikke har børn der er medlemmer i Coding Pirates.
        </p>
      {% else %}
        <h1>Ønsker du (eller en fra din familie) at være frivillig ? </h1>
      {% endif %}
    </div>
    <div class="card">
      <div class="card-body">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="post" id="volunteer-request-form">
          {% csrf_token %}

          <div class="form-group">
            {{ volunteer_request_form.name|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ volunteer_request_form.email|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ volunteer_request_form.phone|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ volunteer_request_form.age|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ volunteer_request_form.zip|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ volunteer_request_form.info_reference|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ volunteer_request_form.info_whishes|as_crispy_field }}
          </div>
          <hr>
          <div class="form-group">
              <h3>
              Du skal vælge mindst én afdeling eller én aktivitet for at kunne indsende formularen.
              </h3>
            <input
              type="text"
              id="input-search-text"
              class="form-control"
              placeholder="Søg efter afdelinger eller aktiviteter..."
              onkeyup="filter_label('input-search-text', 'form-check-label')"
            />
          </div>
          <div class="form-group">
            <small class="form-text text-muted">
              Vælg de afdelinger, hvor du ønsker at være frivillig. Du kan vælge flere afdelinger.
            </small>
            {{ volunteer_request_form.department_list|as_crispy_field }}
            
          </div>
          <hr>
          <div class="form-group">
            <small class="form-text text-muted">
              Vælg de aktiviteter, du ønsker at deltage i som frivillig. Du kan vælge flere aktiviteter.
            </small>
            {{ volunteer_request_form.activity_list|as_crispy_field }}
          </div>

          {% if not user.is_authenticated %}
            <button type="button" class="btn btn-secondary" id="generate-code-button">Generate Code and Send to Email</button>
            <div id="email-token-field" style="display: none;">
              <label for="id_email_token">Indtast den 6-cifrede kode sendt til din email</label>
              <input type="text" id="id_email_token" name="email_token" maxlength="6" class="form-control">
            </div>
          {% endif %}
          <button type="submit" class="btn btn-primary" id="submit-button" {% if not user.is_authenticated %}style="display: none;" disabled{% endif %}>Submit</button>
        </form>
      </div>
    </div>

    {% if not user.is_authenticated %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const generateCodeButton = document.getElementById('generate-code-button');
            const submitButton = document.getElementById('submit-button');
            const emailTokenField = document.getElementById('id_email_token');
            const emailTokenFieldContainer = document.getElementById('email-token-field');

            generateCodeButton.addEventListener('click', function() {
                // Make an AJAX request to generate the code and send it to the email
                fetch("{% url 'generate_code' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        email: document.getElementById('id_email').value
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        emailTokenFieldContainer.style.display = 'block';
                        submitButton.style.display = 'block';
                        submitButton.disabled = false;
                    } else {
                        alert('Failed to generate code. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            });

            emailTokenField.addEventListener('input', function() {
                if (emailTokenField.value.length === 6) {
                    submitButton.disabled = false;
                } else {
                    submitButton.disabled = true;
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}