{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="alert alert-secondary">
        <h1>Ønsker du at være frivillig - og ikke allerede oprettet i medlemssystemet ?</h1>
        <p>Hvis du har børn der er tilmeldt i systemet og allerede er oprettet som familie, 
          så log blot på jeres familie side med den email du opskrev dig med, da du tilmeldte dig<br>
          Her kan du også tilføje flere personer, hvis det f.eks. er din partner der har tilmeldt børnene men du nu selv vil være med som frivillig.</p>
        <p>
            Denne formular er tænkt til frivillige, der ikke har børn der er medlemmer i Coding Pirates.
        </p>
      </div>
      <div class="card">
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ volunteer_request_form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}