{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="alert alert-secondary">
        <h1>Til frivillige der ikke tidligere er oprettet som forælder</h1>
        <p>Hvis du har børn der er tilmeldt i systemet og allerede er oprettet som familie, så log blot på jeres familie side med den email du opskrev dig med, da du tilmeldte dig. Her kan du også tilføje flere personer, hvis det f.eks. er din partner der har tilmeldt børnene men du nu selv vil være med som frivillig.</p>
        <p>
            Denne formular er tænkt til frivillige, der ikke har børn der er medlemmer i Coding Pirates.
        </p>
        <p>
            Siden man kommer til som tilmeldt frivillig, er identisk med den forældre ser når de tilmelder deres børn - der er blot mulighed for at stå opskrevet uden børn.
        </p>
        <p>
            På sigt kommer der flere funktioner, der er relevante for de frivillige.
        </p>
      </div>
        <div class="card">
          <div class="card-body">
            {% crispy vol_signupform %}
          </div>
        </div>
{% endblock %}