{% extends 'members/base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="top">Venteliste i alle Coding Pirates-afdelinger</h1>

          <p>Tryk på en afdeling for at springe til den</p>

          {% if family %}
            <p><a href="{% url 'family_detail' %}">Tilbage til familie oversigt</a></p>
          {% else %}
            <p>Listerne er anonymiserede. Log ind på "min familie side" for at se dine børns navne på listerne.</p>
          {% endif %}

          <p>
          {% for key, department in department_children_waiting.departments.items %}
              [<a href="#dep{{ key }}">{{ department.name }}</a>]
          {% endfor  %}
          </p>


          {% for key, department in department_children_waiting.departments.items %}

            <h2 id="dep{{ key }}">Afdeling: {{department.name}}</h2>
              <a href="#top">Gå tilbage til toppen</a>

              {% if department.waiting.items %}
            <table class="table">
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Postnummer</th>
                <th>Har ventet (ancienitet)</th>
            </tr>
            {% for key, child in department.waiting.items %}
            {% if child.color %}
              <tr class="success">
            {% else %}
              <tr>
            {% endif %}
                <td>{{ key }}</td>

                <td>{{child.firstname}}</td>

                <td>{{child.zipcode}}</td>
                <td>{{ child.added|timesince }}</td>

            </tr>
            {% endfor %}
            </table>
              {% else %}
                  <p>Der er ingen opskrevet på ventelisten til denne afdeling</p>
              {% endif %}

          {% endfor %}

        </div>
      </div>
    </div>
{% endblock %}
