{% extends 'members/base.html' %} {% block content %}
<div class="container">
    <h2>Ventelister i Coding Pirates</h2>
    <p>Alle afdelinger i Coding Pirates har en "venteliste" man kan skrive sig på,
    ved opskrivning markerer du over for afdelingslederen at du gerne vil kontaktes
    når de åbner for tilmedling.</p>


    <p>Din plads i ventelisten bliver beregnet ud fra hvornår du oprettede dig i
    systemet. Så hvis du skriver dig op på andre afdeling vil du få en plads som
    om du altid havde stået på listen</p>


    <p><a class="btn btn-primary" href="{% url 'family_detail' %}">Skriv dig på flere ventelister</a><p/>

    {% for child in children %}
        <div style="margin:50px 5px">
        <h4>Venteliste Oversigt for: {{child.person.name}}</h4>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Afdeling</th>
                <th scope="col">Adresse</th>
                <th scope="col">Plads på venteliste</th>
            </tr>
        </thead>
        <tbody>
        {% for department, waitinglist_place in child.waitinglists %}
            <tr>
                <td>{{department}}</td>
                <td>{{department.address}}</td>
                <td>{{waitinglist_place}}</td>
            </tr>
        {% endfor %}
        <tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
