<h1>Detaljer for {{ person.name }}</h1>
<table>
  <tr>
    <td>Adresse:</td>
    <td>{{person.street}}</td>
  </tr>
  <tr>
    <td/>
    <td>{{person.placename}}</td>
  </tr>
  <tr>
    <td/>
    <td>{{person.zipcity}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{person.email}}</td>
  </tr>
</table>
<h1>{{ person.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'updateperson' person.unique %}" method="post">

  <label></label>
{% csrf_token %}
<div>Navn:</div>
    <input type="text" name="name" id="name" value="{{ person.name }}" />
<input type="submit" value="Opdater" />
</form>
